In [6]:
import pandas as pd 
import os
from pathlib import Path

In [8]:
Path(os.getcwd())

WindowsPath('C:/Users/noibar/YandexDisk/ucsb/ucsb_spring2021/234_pstat/notebooks')

In [9]:
os.chdir("..")

In [10]:
#Path.home()
Path(os.getcwd())

WindowsPath('C:/Users/noibar/YandexDisk/ucsb/ucsb_spring2021/234_pstat')

In [11]:
df = pd.read_csv('data/mobility_subset.zip', compression='zip')

In [13]:
print(df.shape) 
df.head()

(1212040, 19)

,fips,ds_m4,all_day_ratio_single_tile_users,m50,cases,deaths,apple_mobility,miles_per_person_umd,staying_home_umd,pop,over60,med_income,afram,hispar,male,pop_density,cov_death_rate,sg_sheltered,sg_avg_dist2
0,45035,2020-01-01,NaN,NaN,NaN,NaN,NaN,24.1,31.0,160647.0,19.0,61698.0,25.0,5.2,48.65,270.0,0.0,0.319371,11066.255084
1,45035,2020-01-02,NaN,NaN,NaN,NaN,NaN,35.3,18.0,160647.0,19.0,61698.0,25.0,5.2,48.65,270.0,0.0,0.257536,13048.934918
2,45035,2020-01-03,NaN,NaN,NaN,NaN,NaN,34.8,17.0,160647.0,19.0,61698.0,25.0,5.2,48.65,270.0,0.0,0.246068,13383.727687
3,45035,2020-01-04,NaN,NaN,NaN,NaN,NaN,32.8,23.0,160647.0,19.0,61698.0,25.0,5.2,48.65,270.0,0.0,0.281261,11845.334563
4,45035,2020-01-05,NaN,NaN,NaN,NaN,NaN,34.2,28.0,160647.0,19.0,61698.0,25.0,5.2,48.65,270.0,0.0,0.312370,9796.491319